name: Padlet データ取得 - Kabotya

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  get-padlet-data:
    runs-on: ubuntu-latest
    steps:
      - name: リポジトリをチェックアウト
        uses: actions/checkout@v4

      - name: Padletからデータを取得
        run: |
          curl -L -o kabotya.md "https://padlet.com/padlets/34b6kq9lghbe3rtm/exports/markdown.md"

      - name: 変更を保存
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "action@github.com"
          
          git add kabotya.md
          
          if git diff --staged --quiet; then
            echo "変更がなかったので何もしません"
          else
            git commit -m "Padletの最新データを取得"
            git push
          fi
