name: Padlet データ取得 - Obungu

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  get-padlet-data:
    runs-on: ubuntu-latest
    steps:
      - name: リポジトリをチェックアウト
        uses: actions/checkout@v4

      - name: Padletからデータを取得
        run: |
          # フォルダがないとエラーになるので、先に archive フォルダを作成
          mkdir -p archive

          # archiveフォルダの中に obungu.md として保存
          curl -L -o archive/obungu.md "https://padlet.com/padlets/5ggicyna1yjvquxr/exports/markdown.md"

      - name: 変更を保存
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "action@github.com"
          
          # archiveフォルダの中のファイルをGitに追加
          git add archive/obungu.md
          
          if git diff --staged --quiet; then
            echo "変更がなかったので何もしません"
          else
            git commit -m "Padletの最新データを取得"
            git push
          fi
